* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* Utilities */

body {
  width: 100%;
  background-image: url(../images/pattern.png);
}

.container {
  max-width: 960px;
  margin: auto;
}

#navbar li a {
  text-decoration: none;
  color: #999;
}

.grey-line {
  background: #ccc;
  width: 100%;
  height: 2px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  margin-bottom: 20px;
}

/*  */
/* Nav Bar */
/*  */
header {
  background: #fff;
  border-bottom: 3px #ddd solid;
  width: 100%;
}

header .container #navbar h1 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  background: #4aaaa5;
  color: #fff;
  padding: 20px 40px;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar ul li {
  margin-left: 15px;
}

.grey-vert {
  background: #eee;
  padding: 10px 0.5px;
}

#navbar ul li .uncurrent:hover {
  padding-bottom: 2px;
  border-bottom: #4aaaa5 3px solid;
  border-radius: 2px;
}

#navbar ul li .uncurrent {
  padding: 6px;
}

#navbar ul li .current {
  color: #fff;
  padding: 6px;
  background: #4aaaa5;
  border-radius: 5px;
}

/*  */
/* About Section */
/*  */
#about-section {
  margin: auto;
  width: 960px;
  margin-top: 30px;
  padding: 30px;
  background: #fff;
}

#about-section img {
  float: left;
  padding-right: 20px;
}

#about-section p {
  line-height: 2;
}

/*  */
/* Portfolio */
/*  */
#portfolio-section {
  margin: auto;
  width: 960px;
  margin-top: 30px;
  padding: 30px;
  background: #fff;
  margin-bottom: 150px;
}

#portfolio-section .items {
  width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

#portfolio-section .items .item {
  position: relative;
  margin: auto;
}

#portfolio-section .items .item:hover .item-text {
  background: rgba(100, 100, 100, 0.5);
}

#portfolio-section .items .item .item-text {
  position: absolute;
  top: 140px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: #4aaaa5;
  color: #fff;
}

#portfolio-section .items .item .item-text a {
  text-decoration: none;
  color: #fff;
}

#portfolio-section .item-text p {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

/*  */
/* Contact Section */
/*  */
#contact-section {
  margin: auto;
  width: 960px;
  margin-top: 30px;
  padding: 30px;
  background: #fff;
  margin-bottom: 150px;
  color: #999;
}

#contact-section .form-group .input-block {
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  height: 35px;
  border: #ccc 1px solid;
}

#contact-section .form-group #message {
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
  height: 150px;
  border: #ccc 1px solid;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #4aaaa5;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background: #666;
}

#contact-section .form-group .input-block:focus,
#contact-section .form-group #message:focus {
  outline: none;
  border: 2px solid #4aaaa5;
}

/*  */
/* Footer */
/*  */
footer {
  color: #ddd;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #666;
  border-top: 8px solid #4aaaa5;
  height: 80px;
  text-align: center;
}

footer p {
  margin-top: 25px;
}

/*  */
/* Media Queries */
/*  */

/* 980px */
@media screen and (max-width: 980px) {
  /* Fixed header for scrolling content */
  header {
    position: fixed;
    top: 0;
  }
  /*L/R margin for Nav */
  header .container {
    margin: 0 40px;
  }

  /* Slimmed content and added margins for scrolling */
  #about-section,
  #contact-section,
  #portfolio-section {
    width: 600px;
    margin-left: 42px;
    margin-bottom: 150px;
    margin-top: 110px;
  }

  /* Slimmed portfolio section for new container */
  #portfolio-section .items {
    width: 400px;
  }
}

/* 768px */
@media screen and (max-width: 768px) {
  /* Fixed header for scrolling content */
  header {
    position: fixed;
    top: 0;
  }
  /*Adjusted padding on the h1 because at certian sizes before 640px my first and last name would stack and its was very noticable*/
  header .container #navbar h1 {
    padding: 20px 19px;
  }

  /*L/R margin for Nav */
  header .container {
    margin: 0 40px;
  }

  /* Adjusted showcase containers to fit the new sizing and to be somewhat responsive */
  #about-section,
  #contact-section,
  #portfolio-section {
    margin: 110px auto 100px auto;
    width: 92%;
  }

  /* About Me img is slightly larger */
  #about-section img {
    width: 280px;
  }

  /* Slimmed portfolio section for new container */
  #portfolio-section .items {
    width: 400px;
  }
}

/* 640px */
@media screen and (max-width: 640px) {
  /* Header is now static and will scroll with other content */
  header {
    position: static;
    width: 100%;
    padding-bottom: 20px;
  }

  /* Removed the margins in the header so it's contents fill to teh screen edges */
  header .container {
    margin: 0;
  }

  /* Both parts of this flexbox now stack */
  #navbar {
    flex-direction: column;
  }

  /* Centered h1 and gave it bottom margin to space out the nav buttons */
  #navbar h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  /* Changed justify-content from space-between to center eliminating extra spacing and added margin for centering */
  #navbar ul {
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
  }

  /* Adjusted showcase containers to fit the new sizing and to be somewhat responsive */
  #about-section,
  #contact-section,
  #portfolio-section {
    margin: 20px auto 100px auto;
    width: 92%;
  }

  /* Changed the img properties on the About page to show the image on top of the text */
  #about-section img {
    float: none;
    display: block;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
  }

  /* Changed the grid layout and adjusted the width of the items and their contents to be more responsive */
  #portfolio-section .items {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 80%;
  }

  #portfolio-section .items .item {
    width: 100%;
  }

  #portfolio-section .items .item .item-text {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 5% 0;
  }

  #portfolio-section .items img {
    width: 100%;
  }

  /* Footer now stays at the bottom of the page */
  footer {
    position: static;
  }
}
